<template>
  <main>
    <div>
      <button @click="to(1)">รายการอาหาร</button>
      <button @click="to(2)">ลงชื่อเข้าใช้</button>
      <button @click="to(3)">ตะกร้า</button>
      <span v-show="cart">
        <h4>{{itemsInCart()}}</h4>
      </span>
    </div>
    <div v-if="tab === 1">
      <section>
        <div>
          <h2>{{namngeaw.title}}</h2>
          <img height="150" :src="require(`@/${namngeaw.image}`)" :alt="namngeaw.title">
          <p>{{namngeaw.description}}</p>
          <h3>{{namngeaw.price}} บาท</h3>
          <button @click="addToCart(namngeaw)">ใส่ตะกร้า</button>
        </div>
        <div>
          <h2>{{liverGarlic.title}}</h2>
          <img height="150" :src="require(`@/${liverGarlic.image}`)" :alt="liverGarlic.title">
          <p>{{liverGarlic.description}}</p>
          <h3>{{liverGarlic.price}} บาท</h3>
          <button @click="addToCart(liverGarlic)">ใส่ตะกร้า</button>
        </div>
        <div>
          <h2>{{greenCurry.title}}</h2>
          <img height="150" :src="require(`@/${greenCurry.image}`)" :alt="greenCurry.title">
          <p>{{greenCurry.description}}</p>
          <h3>{{greenCurry.price}} บาท</h3>
          <button @click="addToCart(greenCurry)">ใส่ตะกร้า</button>
        </div>
      </section>
    </div>
    <div v-if="tab === 2">
      <h1>ลงชื่อเข้าใช้</h1>
      <section>
        <div>
          <label for="username">ชื่อผู้ใช้งาน</label>
          <input id="username" type="text">
        </div>
        <div>
          <label for="password">รหัสผ่าน</label>
          <input id="password" type="text">
        </div>
      </section>
    </div>
    <div v-if="tab === 3">
      <h1>ตะกร้า</h1>
      <div v-if="cart">
        <section>
          <div>
            <h2>{{cart.food.title}}</h2>
            <p>{{cart.food.description}}</p>
            <h3>{{cart.food.price}} บาท</h3>
          </div>
        </section>
        <section>
          <h2>รวม {{cart.total}} บาท</h2>
        </section>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  data: function() {
    return {
      tab: 1,
      cart: null,
      namngeaw: {
        title: 'ขนมจีนน้ำเงี้ยว',
        description: 'ขนมจีนน้ำเงี้ยวสูตรเชียงราย',
        price: 29,
        image: 'assets/ngeaw.jpg',
      },
      liverGarlic: {
        title: 'ตับทอดกระเทียม',
        description: 'ตับหมูทอดกระเทียม',
        price: 25,
        image: 'assets/liver-garlic.jpg',
      },
      greenCurry: {
        title: 'แกงเขียวหวาน',
        description: 'แกงเขียวหวานไก่',
        price: 30,
        image: 'assets/green-curry.jpg',
      },
    }
  },
  methods: {
    to: function(tab) {
      this.tab = this.tab === tab ? 0 : tab
    },
    addToCart: function(food) {
      this.cart = {
        food: {
          title: food.title,
          description: food.description,
          price: food.price,
        },
        total: food.price,
      }
    },
    itemsInCart: function() {
      let count = 0
      if (this.cart) {
        count = 1
      }
      return count
    },
  }
}
</script>
