<template>
  <div>
    <button @click="togglePersonalInfo">ซ่อน/โชว์ข้อมูล</button>
    <div v-show="show">
      <p>{{personalInfo.nationalId}}</p>
      <p>ชื่อ {{personalInfo.firstName}} สกุล {{personalInfo.lastName}}</p>
      <p>วัน-เดือน-ปีเกิด {{personalInfo.dob}}</p>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      counter: 0,
      show: true,
      personalInfo: {
        firstName: 'Aunnop',
        lastName: 'Kattiyanet',
        nationalId: 'x-xxxx-xxxxx-xx-x',
        dob: '12-01-1997',
      },
    }
  },
  methods: {
    togglePersonalInfo: function() {
      this.counter = (this.counter + 1) % 2
      this.show = this.counter === 0
    }
  }
}
</script>
