<template>
  <div>
    <div>
      <p>น้ำหนักด้านบน</p>
      <h5 v-show="top && (top - bottom < 0)">{{top}}</h5>
      <h4 v-show="top && (top === bottom)">{{top}}</h4>
      <h3 v-show="top && (bottom - top < 0)">{{top}}</h3>
      <button @click="addTop">เพิ่มน้ำหนัก</button>
    </div>
    <div>
      <h1 v-show="!(top - bottom)">ตาชั่งสมดุล</h1>
    </div>
    <div>
      <p>น้ำหนักด้านล่าง</p>
      <h5 v-show="bottom && (top - bottom > 0)">{{bottom}}</h5>
      <h4 v-show="bottom && (top === bottom)">{{bottom}}</h4>
      <h3 v-show="bottom && (bottom - top > 0)">{{bottom}}</h3>
      <button @click="addBottom">เพิ่มน้ำหนัก</button>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      top: 0,
      bottom: 0,
    }
  },
  methods: {
    addTop: function() {
      this.top += 2
    },
    addBottom: function() {
      this.bottom += 3
    }
  }
}
</script>
