<template>
  <div>
    <button @click="addToCart">ใส่ของลงตะกร้า</button>
    <p>ของในตะกร้ามูลค่ารวม {{total}} บาท</p>
    <section v-show="total >= 100 && total < 500">
      คุณได้รับคูปองส่วนลด 5 บาท
    </section>
    <section v-show="total >= 500 && total < 1500">
      คุณได้รับคูปองส่วนลด 20 บาท
    </section>
    <section v-show="total >= 1500">
      คุณได้รับคูปองส่วนลด 100 บาท
    </section>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      total: 0,
    }
  },
  methods: {
    addToCart: function() {
      this.total += 50
    }
  }
}
</script>
