<template>
  <div>
    <button @click="close">ปิดบัตร</button>
    <button @click="flip">พลิกบัตร</button>
    <button @click="toggle">ซ่อน/โชว์ข้อมูล</button>
    <div v-if="page">
      <div class="card">
        <section v-show="page === 'front'">
          <div>
            <h4>{{thaiFullname()}}</h4>
          </div>
          <div class="bottom">
            <section class="left">
              <section>
                <div v-if="!sensor">
                  <h5>Name {{idCard.gender === 'male' ? 'Mr.' : 'Miss'}} {{idCard.firstName.en}}</h5>
                  <h5>Last name {{idCard.lastName.en}}</h5>
                </div>
                <div v-else>
                  <h5>Name {{idCard.gender === 'male' ? 'Mr.' : 'Miss'}} xxxxxx</h5>
                  <h5>Last name xxxxxx</h5>
                </div>
              </section>
              <section>
                <h5>{{dateOfBirth('th')}}</h5>
                <h5>{{dateOfBirth('en')}}</h5>
              </section>
              <section>
                <h5 v-if="!sensor">ที่อยู่ {{idCard.address}}</h5>
                <h5 v-else>ที่อยู่ xxxxxx</h5>
              </section>
              <section class="dateInfo">
                <section>
                  <h6>{{sensor ? 'xxxxxx' : idCard.issueDate}}</h6>
                  <h6>วันออกบัตร</h6>
                </section>
                <section>
                  <h6>{{sensor ? 'xxxxxx' : idCard.expiryDate}}</h6>
                  <h6>วันบัตรหมดอายุ</h6>
                </section>
              </section>
            </section>
            <section class="right">
              <img class="avatar" src="https://cdn.vox-cdn.com/thumbor/zFJuBWv5NjSeVilWJntvQcgji5M=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/19979927/jomi_avatar_nickleodeon_ringer.jpg" alt="avatar">
            </section>
          </div>
        </section>
        <section class="back" v-show="page === 'back'">
          <div v-if="sensor">
            <p>xxxxxx</p>
          </div>
          <div v-else>
            <p>{{idCard.uniqueNumber}}</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      page: '',
      sensor: true,
      idCard: {
        gender: 'male',
        firstName: {
          th: 'อรรณพ',
          en: 'Aunnop',
        },
        lastName: {
          th: 'ขัติยเนตร',
          en: 'Kattiyanet',
        },
        dateOfBirth: {
          th: '1 ม.ค. 2564',
          en: '1 Jan. 2021',
        },
        address: '111 หมู่ 11 ต.คำบล อ.อำเภอ จ.จังหวัด',
        issueDate: '1 พ.ย. 2563',
        expiryDate: '31 ธ.ค. 2572',
        uniqueNumber: ' ME0-1234567-89',
      }
    }
  },
  methods: {
    close: function() {
      this.page = ''
    },
    flip: function() {
      this.page = this.page === 'front' ? 'back' : 'front'
    },
    toggle: function() {
      this.sensor = !this.sensor
    },
    thaiFullname: function() {
      return `ชื่อตัวและชื่อสกุล ${this.idCard.gender === 'male' ? 'นาย' : 'นางสาว'} ${this.sensor ? `xxxxxx xxxxxx` : `${this.idCard.firstName.th} ${this.idCard.lastName.th}`}`
    },
    dateOfBirth: function(lang) {
      if (lang === 'en') {
        if (this.sensor) {
          return `Date of Birth xxxxxx`
        } else {
          return `Date of Birth ${this.idCard.dateOfBirth.en}`
        }
      } else if (lang === 'th') {
        if (this.sensor) {
          return `เกิดวันที่ xxxxxx`
        } else {
          return `เกิดวันที่ ${this.idCard.dateOfBirth.th}`
        }
      }
    }
  }
}
</script>

<style scoped>
h4, h5, h6 {
  margin: 8px 0;
}
.card {
  background-color: azure;
  display: inline-block;
  width: 400px;
  height: 220px;
}
.back {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bottom {
  display: flex;
  flex-direction: row;
}
.left {
  flex: 1;
}
.left > .dateInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.right > .avatar {
  width: 75px;
  margin: 8px;
}
</style>
