<template>
  <div>
    <button @click="hidePersonalInfo">ซ่อนข้อมูล</button>
    <button @click="showPersonalInfo">โชว์ข้อมูล</button>
    <div v-show="show === 'show'">
      <p>{{personalInfo.nationalId}}</p>
      <p>ชื่อ {{personalInfo.firstName}} สกุล {{personalInfo.lastName}}</p>
      <p>วัน-เดือน-ปีเกิด {{personalInfo.dob}}</p>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      show: 'show',
      personalInfo: {
        firstName: 'Aunnop',
        lastName: 'Kattiyanet',
        nationalId: 'x-xxxx-xxxxx-xx-x',
        dob: '12-01-1997',
      },
    }
  },
  methods: {
    hidePersonalInfo: function() {
      this.show = 'hide'
    },
    showPersonalInfo: function() {
      this.show = 'show'
    },
  }
}
</script>
