<template>
  <div>
    <h1>ผลการเรียน</h1>
    <h2>วิชา {{subject}}</h2>
    <h3>{{name}}</h3>
    <p>คะแนน: {{score}}/100</p>
    <!-- <p>เกรดที่ได้: {{grade()}}</p> -->
    <p v-if="score >= 80">เกรดที่ได้: A</p>
    <p v-if="score >= 70 && score < 80">เกรดที่ได้: B</p>
    <p v-if="score >= 60 && score < 70">เกรดที่ได้: C</p>
    <p v-if="score >= 50 && score < 60">เกรดที่ได้: D</p>
    <p v-if="score < 50">เกรดที่ได้: F</p>
    <div>
      <button @click="add(1)">เพิ่มคะแนน +1</button>
      <button @click="add(2)">เพิ่มคะแนน +2</button>
      <button @click="add(3)">เพิ่มคะแนน +3</button>
      <button @click="add(5)">เพิ่มคะแนน +5</button>
    </div>
    <div>
      <button @click="subtract(1)">หักคะแนน -1</button>
      <button @click="subtract(2)">หักคะแนน -2</button>
      <button @click="subtract(3)">หักคะแนน -3</button>
      <button @click="subtract(5)">หักคะแนน -5</button>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      name: 'Aunnop Kattiyanet',
      subject: 'PROG101',
      score: 0
    }
  },
  methods: {
    add(score) {
      this.score += score
    },
    subtract(score) {
      this.score -= score
    },
    // grade() {
    //   if(this.score >= 80) {
    //     return 'A'
    //   }
    //   if(this.score >= 70) {
    //     return 'B'
    //   }
    //   if(this.score >= 60) {
    //     return 'C'
    //   }
    //   if(this.score >= 50) {
    //     return 'D'
    //   }
    //   if(this.score < 50) {
    //     return 'F'
    //   }
    // },
  }
}
</script>
