<template>
  <div>
    <h1>ผลการเรียน</h1>
    <h2>วิชา {{subject}}</h2>
    <h3>{{name}}</h3>
    <p>คะแนน: {{score}}/100</p>
    <p>เกรดที่ได้: {{grade()}}</p>
    <div>
      <button v-if="score <= 99"  @click="add(1)">เพิ่มคะแนน +1</button>
      <button v-if="score <= 98" @click="add(2)">เพิ่มคะแนน +2</button>
      <button v-if="score <= 97" @click="add(3)">เพิ่มคะแนน +3</button>
      <button v-if="score <= 95" @click="add(5)">เพิ่มคะแนน +5</button>
    </div>
    <div>
      <button v-if="score >= 1" @click="subtract(1)">หักคะแนน -1</button>
      <button v-if="score >= 2" @click="subtract(2)">หักคะแนน -2</button>
      <button v-if="score >= 3" @click="subtract(3)">หักคะแนน -3</button>
      <button v-if="score >= 5" @click="subtract(5)">หักคะแนน -5</button>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      name: 'Aunnop Kattiyanet',
      subject: 'PROG101',
      score: 0
    }
  },
  methods: {
    add(score) {
      this.score += score
    },
    subtract(score) {
      this.score -= score
    },
    // this should be compute
    grade() {
      if(this.score >= 80) {
        return 'A'
      }
      else if(this.score >= 70) {
        return 'B'
      }
      else if(this.score >= 60) {
        return 'C'
      }
      else if(this.score >= 50) {
        return 'D'
      }
      else {
        return 'F'
      }
    },
  }
}
</script>
