<template>
    <div>
        <form @submit.prevent="submitTodo">
            <h1>Todo</h1>
            <input type="text" v-model="todo" required>
            <button type="submit">Submit</button>
        </form>
        <div class="pages">
            <button @click="to(1)">All todos</button>
            <button @click="to(2)">Done todos</button>
            <button @click="to(3)">Not done todos</button>
        </div>
        <div v-if="tab === 1">
            <h2>All todos</h2>
            <div v-for="todo in todoList" :key="todo.id">
                <input type="text" v-model="todo.task">
                <label for="done"></label>
                <input id="done" type="checkbox" v-model="todo.isDone">
            </div>
        </div>
        <div v-if="tab === 2">
            <h2>Done todos</h2>
            <div v-for="todo in splitTodos.done" :key="todo.id">
                <input type="text" v-model="todo.task">
                <label for="done"></label>
                <input id="done" type="checkbox" v-model="todo.isDone">
            </div>
        </div>
         <div v-if="tab === 3">
            <h2>Not done todos</h2>
            <div v-for="todo in splitTodos.notDone" :key="todo.id">
                <input type="text" v-model="todo.task">
                <label for="done"></label>
                <input id="done" type="checkbox" v-model="todo.isDone">
            </div>
        </div>
        {{todoList}}
    </div>
</template>

<script>
export default {
    data() {
        return {
            idCounter: 0,
            tab: 1,
            todo: '',
            todoList: []
        }
    },
    computed: {
        doneTodos() {
            const done = []
            for (let i = 0; i < this.todoList.length; i++) {
                console.log('done', todo)
                const todo = this.todoList[i]
                if (todo.isDone) {
                    done.push(todo)
                }
            }
            return done
        },
        notDoneTodos() {
            const notDone = []
            for (let i = 0; i < this.todoList.length; i++) {
                console.log('not done', todo)
                const todo = this.todoList[i]
                if (!todo.isDone) {
                    notDone.push(todo)
                }
            }
            return notDone
        },
        splitTodos() {
            const todos = {
                done: [],
                notDone: []
            }
            for (let i = 0; i < this.todoList.length; i++) {
                const todo = this.todoList[i]
                if (todo.isDone) {
                    todos.done.push(todo)
                } else {
                    todos.notDone.push(todo)
                }
            }
            return todos
        }
    },
    methods: {
        to(page) {
            this.tab = page
        },
        submitTodo() {
            this.todoList.push({
                id: this.idCounter++,
                task: this.todo,
                isDone: false
            })
            this.todo = ''
        },
        taskDone(todo) {
            const todoList = []
            for (let i = 0; i < this.todoList.length; i++) {
                if (this.todoList[i].id !== todo.id) {
                    todoList.push(this.todoList[i])
                }
            }
            this.todoList = todoList
        }
    },
}
</script>

<style>
.pages {
    margin: 8px 0;
}
</style>