<template>
    <div>
        <form @submit.prevent="submitTodo">
            <h1>Todo</h1>
            <input type="text" v-model="todo" required>
            <button type="submit">Submit</button>
        </form>
        <div>
            <div v-for="(todo) in todoList" :key="todo.id">
                <input type="text" v-model="todo.task">
                <label for="done"></label>
                <input id="done" type="checkbox" v-model="todo.isDone">
            </div>
        </div>
        <button @click="rev">reverse</button>
        {{todoList}}
    </div>
</template>

<script>
export default {
    data() {
        return {
            idCounter: 0,
            todo: '',
            todoList: []
        }
    },
    methods: {
        submitTodo() {
            this.todoList.push({
                id: this.idCounter++,
                task: this.todo,
                isDone: false
            })
            this.todo = ''
        },
        rev() {
            this.todoList.reverse()
        }
    }
}
</script>

<style>

</style>