<template>
    <div>
        <form @submit.prevent="submitTodo">
            <h1>Todo</h1>
            <input type="text" v-model="todo" required>
            <button type="submit">Submit</button>
        </form>
        <div>
            <div v-for="todo in todoList" :key="todo.id">
                <div v-if="!todo.isDone">
                    <input type="text" v-model="todo.task">
                    <label for="done"></label>
                    <input id="done" type="checkbox" v-model="todo.isDone">
                    <!-- <input id="done" type="checkbox" v-model="todo.isDone" @click="taskDone(todo)"> -->
                </div>
            </div>
        </div>
        {{todoList}}
    </div>
</template>

<script>
export default {
    data() {
        return {
            idCounter: 0,
            todo: '',
            todoList: []
        }
    },
    methods: {
        submitTodo() {
            this.todoList.push({
                id: this.idCounter++,
                task: this.todo,
                isDone: false
            })
            this.todo = ''
        },
        taskDone(todo) {
            const todoList = []
            for (let i = 0; i < this.todoList.length; i++) {
                if (this.todoList[i].id !== todo.id) {
                    todoList.push(this.todoList[i])
                }
            }
            this.todoList = todoList
        }
    },
}
</script>

<style>

</style>