<template>
  <div>
      ให้เพิ่มปุ่มกดเอาของออกจากตะกร้า
      <div>
          <button :class="tab === 1 ? 'activeMenu' : 'defaultMenu'" @click="to(1)">รายการอาหาร</button>
          <button :class="tab === 2 ? 'activeMenu' : 'defaultMenu'" @click="to(2)">สมาชิก</button>
          <button :class="tab === 3 ? 'activeMenu' : 'defaultMenu'" @click="to(3)">ตะกร้าสินค้า</button>
          <span v-show="cart.length">{{ cart.length }}</span>
      </div>
      <div>
          <div v-if="tab === 1">
              <h1>รายการอาหาร</h1>
              <h2>recommends</h2>
              <div>
                <div v-for="(food, i) in foodList.recommends" :key="i">
                  <img :src="food.image" alt="">
                  <h2>{{ food.title }}</h2>
                  <h4>{{ food.description }}</h4>
                  <h4>{{ food.price }} บาท</h4>
                  <button @click="addToCart(food)">+</button>
                </div>
              </div>
              <h2>อื่นๆ</h2>
              <div>
                <div v-for="(food, i) in foodList.rest" :key="i">
                  <img :src="food.image" alt="">
                  <h2>{{ food.title }}</h2>
                  <h4>{{ food.description }}</h4>
                  <h4>{{ food.price }} บาท</h4>
                  <button @click="addToCart(food)">+</button>
                </div>
              </div>
          </div>
          <div v-if="tab === 2">
                <form @submit.prevent="submit">
                    <h1>สมาชิก</h1>
                    <div>
                        <input type="email" v-model="user.email">
                    </div>
                    <div>
                        <input type="password" v-model="user.password">
                    </div>
                    <div>
                        <button type="button">สมัครสมาชิก</button>
                        <button type="submit">เข้าสู่ระบบ</button>
                    </div>
                </form>
          </div>
          <div v-if="tab === 3">
              <h1>ตะกร้าสินค้า</h1>
              <div v-for="(each, i) in cart" :key="i">
                <img :src="each.food.image" alt="">
                <h2>{{ each.food.title }}</h2>
                <h4>{{ each.food.description }}</h4>
                <h4>{{ each.food.price }} บาท</h4>
                <button @click="removeFromCart(each)">-</button>
              </div>
              <div>
                <h2>computed รวมราคา {{ cTotal }} บาท</h2>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data: function() {
        return {
            tab: 2,
            id: 1,
            foods: [
              {
                image: "https://d12man5gwydfvl.cloudfront.net/wp-content/uploads/2019/03/%E0%B8%9C%E0%B8%B1%E0%B8%94%E0%B8%81%E0%B8%B0%E0%B9%80%E0%B8%9E%E0%B8%A3%E0%B8%B2%E0%B8%AB%E0%B8%A1%E0%B8%B9%E0%B8%AA%E0%B8%B1%E0%B8%9A-1.jpg",
                title: "ผัดกะเพรา",
                description: "ผัดกะเพราหมูสับ",
                price: 50,
              },
              {
                image: "https://food.mthai.com/app/uploads/2017/07/noodle-with-pork-in-gravy.jpg",
                title: "ราดหน้า",
                description: "ราดหน้าหมูชิ้น เส้นหมีข่าว",
                price: 45,
              },
              {
                image: "https://food.mthai.com/app/uploads/2017/07/noodle-with-pork-in-gravy.jpg",
                title: "ผัดไท",
                description: "ราดหน้าหมูชิ้น เส้นหมีข่าว",
                price: 40,
              },
              {
                image: "https://d12man5gwydfvl.cloudfront.net/wp-content/uploads/2019/03/%E0%B8%9C%E0%B8%B1%E0%B8%94%E0%B8%81%E0%B8%B0%E0%B9%80%E0%B8%9E%E0%B8%A3%E0%B8%B2%E0%B8%AB%E0%B8%A1%E0%B8%B9%E0%B8%AA%E0%B8%B1%E0%B8%9A-1.jpg",
                title: "ผัดกะเพรา",
                description: "ผัดกะเพราหมูสับ",
                price: 50,
              },
              {
                image: "https://food.mthai.com/app/uploads/2017/07/noodle-with-pork-in-gravy.jpg",
                title: "ราดหน้า",
                description: "ราดหน้าหมูชิ้น เส้นหมีข่าว",
                price: 45,
              },
              {
                image: "https://food.mthai.com/app/uploads/2017/07/noodle-with-pork-in-gravy.jpg",
                title: "ผัดไท",
                description: "ราดหน้าหมูชิ้น เส้นหมีข่าว",
                price: 40,
              },
              {
                image: "https://d12man5gwydfvl.cloudfront.net/wp-content/uploads/2019/03/%E0%B8%9C%E0%B8%B1%E0%B8%94%E0%B8%81%E0%B8%B0%E0%B9%80%E0%B8%9E%E0%B8%A3%E0%B8%B2%E0%B8%AB%E0%B8%A1%E0%B8%B9%E0%B8%AA%E0%B8%B1%E0%B8%9A-1.jpg",
                title: "ผัดกะเพรา",
                description: "ผัดกะเพราหมูสับ",
                price: 50,
              },
              {
                image: "https://food.mthai.com/app/uploads/2017/07/noodle-with-pork-in-gravy.jpg",
                title: "ราดหน้า",
                description: "ราดหน้าหมูชิ้น เส้นหมีข่าว",
                price: 45,
              },
              {
                image: "https://food.mthai.com/app/uploads/2017/07/noodle-with-pork-in-gravy.jpg",
                title: "ผัดไท",
                description: "ราดหน้าหมูชิ้น เส้นหมีข่าว",
                price: 40,
              },
            ],
            cart: [],
            user: {
                email: '',
                password: ''
            },
        }
    },
    computed: {
      cTotal: function() {
        console.log('computed called')
        let total = 0
        let i = 0
        while (i < this.cart.length) {
          total += this.cart[i].food.price
          i++
        }
        return total
      },
      foodList: function() {
        const recommends = []
        const rest = []
        for (let i = 0; i < this.foods.length; i++) {
          if (i <= 1) {
            recommends.push(this.foods[i])
          } else {
            rest.push(this.foods[i])
          }
        }
        return {
          recommends: recommends,
          rest: rest
        }
      }
    },
    watch: {
      // alert 20 เมื่อราคารวมใน cart >= 200
      // alert 50 เมื่อราคารวมใน cart >= 400
      // alert 100 เมื่อราคารวมใน cart >= 1000
      cTotal: function(newValue, oldValue) {
        if (newValue >= 1000 && oldValue < 1000) {
          alert('100')
        } else if (newValue >= 400 && oldValue < 400) {
          alert('50')
        } else if (newValue >= 200 && oldValue < 200) {
          alert('20')
        }
      }
    },
    methods: {
        // เขียน total version computed
        to: function(page) {
            if (this.tab === page) {
                this.tab = 0
            } else {
                this.tab = page
            }
        },
        addToCart: function(food) {
            // {
            //     title,
            //     description,
            //     price,
            //     image
            // }

            // {
            //     id,
            //     food: {
            //         title,
            //         description,
            //         price,
            //         image
            //     }
            // }
            this.cart.push({
                id: this.id,
                food: food
            })
            this.id++
        },
        removeFromCart(cartItem) {
            const cart = []
            for (let i = 0; i < this.cart.length; i++) {
                console.log(this.cart[i])
                const current = this.cart[i]
                if (cartItem.id !== current.id) {
                    cart.push(current)
                }
            }
            this.cart = cart
        },
        submit() {
            if(this.user.email && this.user.password) {
                alert('เข้าสู่ระบบสำเร็จ')
            } else {
                 alert('กรุณากรอกข้อมูลให้ครบถ้วน')
            }
        }
    }
}
</script>

<style>
img {
    height: 100px;
}
.activeMenu {
    background-color: crimson;
    color: white;
}
.defaultMenu {
    background-color: #EDEDED;
    border: none;
}
</style>