<template>
    <div>
        <form @submit.prevent="submitTodo">
            <h1>Todo</h1>
            <input type="text" v-model="todo" required>
            <button type="submit">Submit</button>
        </form>
        <div>
            <ul>
                อะไรน๊าาาา f f f f fi.....
                พอกด checkbox แล้ว
                ให้เอา todo นั้นออกไปจาก array
                <li v-for="todo in todoList" :key="todo.id">
                    <span>{{todo.task}}</span>
                    <input @click="remove(todo)" type="checkbox" v-model="todo.isDone">
                </li>
            </ul>
            <button @click="reverse">reverse</button>
        </div>
        {{todoList}}
    </div>
</template>

<script>
export default {
    data() {
        return {
            id: 1,
            todo: '',
            todoList: [],
        }
    },
    methods: {
        submitTodo() {
            // เอา todo ใส่ใน array
            // สร้างค่าเฉพาะสำหรับ todo แต่ละตัวไว้
            // ค่าเฉพาะนั้นจะต้องไม่ซ้ำกับ todo ตัวอื่น
            // มีใบ้ใน work-09-02
            this.todoList.push({
                id: this.id,
                task: this.todo,
                isDone: false,
            })
            this.id++
            this.todo = ''
        },
        remove(todo) {
            const notDoneTasks = []
            for (let i = 0; i < this.todoList.length; i++) {
                const current = this.todoList[i]
                if (current.id !== todo.id) {
                    notDoneTasks.push(current)
                }
            }
            this.todoList = notDoneTasks
        },
        reverse() {
            this.todoList.reverse()
        }
    }
}
</script>

<style>

</style>