<template>
  <div>
      <div>
          <button :class="tab === 1 ? 'activeMenu' : 'defaultMenu'" @click="to(1)">รายการอาหาร</button>
          <button :class="tab === 2 ? 'activeMenu' : 'defaultMenu'" @click="to(2)">สมาชิก</button>
          <button :class="tab === 3 ? 'activeMenu' : 'defaultMenu'" @click="to(3)">ตะกร้าสินค้า</button>
          <span v-show="cart.length">{{ cart.length }}</span>
      </div>
      <div>
          <div v-if="tab === 1">
              <h1>รายการอาหาร</h1>
              <div>
                  <img :src="foods[0].image" alt="">
                  <h2>{{ foods[0].title }}</h2>
                  <h4>{{ foods[0].description }}</h4>
                  <h4>{{ foods[0].price }} บาท</h4>
                  <button @click="addToCart(foods[0])">+</button>
              </div>
              <div>
                  <img :src="foods[1].image" alt="">
                  <h2>{{ foods[1].title }}</h2>
                  <h4>{{ foods[1].description }}</h4>
                  <h4>{{ foods[1].price }} บาท</h4>
                  <button @click="addToCart(foods[1])">+</button>
              </div>
          </div>
          <div v-if="tab === 2">
                <form @submit.prevent="submit">
                    <h1>สมาชิก</h1>
                    <div>
                        <input type="email" v-model="user.email">
                    </div>
                    <div>
                        <input type="password" v-model="user.password">
                    </div>
                    <div>
                        <button type="button">สมัครสมาชิก</button>
                        <button type="submit">เข้าสู่ระบบ</button>
                    </div>
                </form>
          </div>
          <div v-if="tab === 3">
              <h1>ตะกร้าสินค้า</h1>
              <div v-if="cart[0]">
                  <img :src="cart[0].image" alt="">
                  <h2>{{ cart[0].title }}</h2>
                  <h4>{{ cart[0].description }}</h4>
                  <h4>{{ cart[0].price }} บาท</h4>
              </div>
              <div v-if="cart[1]">
                  <img :src="cart[1].image" alt="">
                  <h2>{{ cart[1].title }}</h2>
                  <h4>{{ cart[1].description }}</h4>
                  <h4>{{ cart[1].price }} บาท</h4>
              </div>
              <div v-if="cart[2]">
                  <img :src="cart[2].image" alt="">
                  <h2>{{ cart[2].title }}</h2>
                  <h4>{{ cart[2].description }}</h4>
                  <h4>{{ cart[2].price }} บาท</h4>
              </div>
              <div v-if="cart[3]">
                  <img :src="cart[3].image" alt="">
                  <h2>{{ cart[3].title }}</h2>
                  <h4>{{ cart[3].description }}</h4>
                  <h4>{{ cart[3].price }} บาท</h4>
              </div>
              <div v-if="cart[4]">
                  <img :src="cart[4].image" alt="">
                  <h2>{{ cart[4].title }}</h2>
                  <h4>{{ cart[4].description }}</h4>
                  <h4>{{ cart[4].price }} บาท</h4>
              </div>
              <div v-show="total()">
                  <h2>ราคารวม</h2>
                  <h3>method {{ total() }} บาท</h3>
                  <h3>computed {{ cTotal }} บาท</h3>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data: function() {
        return {
            tab: 2,
            foods: [
              {
                image: "https://d12man5gwydfvl.cloudfront.net/wp-content/uploads/2019/03/%E0%B8%9C%E0%B8%B1%E0%B8%94%E0%B8%81%E0%B8%B0%E0%B9%80%E0%B8%9E%E0%B8%A3%E0%B8%B2%E0%B8%AB%E0%B8%A1%E0%B8%B9%E0%B8%AA%E0%B8%B1%E0%B8%9A-1.jpg",
                title: "ผัดกะเพรา",
                description: "ผัดกะเพราหมูสับ",
                price: 50,
              },
              {
                image: "https://food.mthai.com/app/uploads/2017/07/noodle-with-pork-in-gravy.jpg",
                title: "ราดหน้า",
                description: "ราดหน้าหมูชิ้น เส้นหมีขาว",
                price: 45,
              },
            ],
            cart: [],
            user: {
                email: '',
                password: ''
            },
        }
    },
    computed: {
        cTotal: function() {
            console.log('cTotal')
            let i = 0
            let total = 0
            while(i < this.cart.length) {
                total += this.cart[i++].price
            }
            return total
        }
    },
    methods: {
        to: function(page) {
            if (this.tab === page) {
                this.tab = 0
            } else {
                this.tab = page
            }
        },
        addToCart: function(food) {
            this.cart.push(food)
        },
        submit() {
            if(this.user.email && this.user.password) {
                alert('เข้าสู่ระบบสำเร็จ')
            } else {
                 alert('กรุณากรอกข้อมูลให้ครบถ้วน')
            }
        },
        total() {
            console.log('total')
            let total = 0
            let i = 0
            while (i < this.cart.length) {
                total += this.cart[i].price
                i++
            }
            return total
        }
    }
}
</script>

<style>
img {
    height: 100px;
}
.activeMenu {
    background-color: crimson;
    color: white;
}
.defaultMenu {
    background-color: #EDEDED;
    border: none;
}
</style>