<template>
  <div>
      <div>
          <button :class="tab === 1 ? 'activeMenu' : 'defaultMenu'" @click="to(1)">รายการสินค้า</button>
          <button :class="tab === 2 ? 'activeMenu' : 'defaultMenu'" @click="to(2)">เพิ่มลูกค้าเข้าระบบ</button>
          <button :class="tab === 3 ? 'activeMenu' : 'defaultMenu'" @click="to(3)">ข้อมูลลูกค้า</button>
      </div>
      <div>
          <div v-if="tab === 1">
              <h1>สินค้า</h1>
                <div>
                    <label for="cid">รหัสลูกค้า</label>
                    <input id="cid" type="text" v-model="customerId">
                </div>
              <div>
                  <img :src="foods[0].image" alt="">
                  <h2>{{ foods[0].title }}</h2>
                  <h4>{{ foods[0].description }}</h4>
                  <h4>{{ foods[0].price }} บาท</h4>
                  <button @click="addToCart(foods[0])">+</button>
              </div>
              <div>
                  <img :src="foods[1].image" alt="">
                  <h2>{{ foods[1].title }}</h2>
                  <h4>{{ foods[1].description }}</h4>
                  <h4>{{ foods[1].price }} บาท</h4>
                  <button @click="addToCart(foods[1])">+</button>
              </div>
          </div>
          <div v-if="tab === 2">
                <form @submit.prevent="submit">
                    <h1>เพิ่มลูกค้า</h1>
                    <div>
                        <label for="cid">รหัสลูกค้า</label>
                        <input id="cid" type="text" v-model="customer.id">
                    </div>
                    <div>
                        <label for="name">ชื่อ</label>
                        <input id="name" type="text" v-model="customer.name">
                    </div>
                    <div>
                        <button type="sumit">เพิ่มลูกค้า</button>
                    </div>
                </form>
          </div>
          <div v-if="tab === 3">
                <div>
                    <label for="cid">รหัสลูกค้า</label>
                    <input id="cid" type="text" v-model="customerId">
                </div>
                <div>
                    {{ customerTotal }}
                </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data: function() {
        return {
            tab: 2,
            foods: [
              {
                image: "https://d12man5gwydfvl.cloudfront.net/wp-content/uploads/2019/03/%E0%B8%9C%E0%B8%B1%E0%B8%94%E0%B8%81%E0%B8%B0%E0%B9%80%E0%B8%9E%E0%B8%A3%E0%B8%B2%E0%B8%AB%E0%B8%A1%E0%B8%B9%E0%B8%AA%E0%B8%B1%E0%B8%9A-1.jpg",
                title: "ผัดกะเพรา",
                description: "ผัดกะเพราหมูสับ",
                price: 50,
              },
              {
                image: "https://food.mthai.com/app/uploads/2017/07/noodle-with-pork-in-gravy.jpg",
                title: "ราดหน้า",
                description: "ราดหน้าหมูชิ้น เส้นหมีขาว",
                price: 45,
              },
            ],
            customers: [],
            customer: {
                id: '',
                name: ''
            },
            customerId: '',
            customerTotal: null
        }
    },
    computed: {
        customerExpenses() {
            let expenses = []
            for(let i = 0; i < this.customers.length; i++) {
                let total = 0
                for(let j = 0; j < this.customers[i].cart.length; j++) {
                    total += this.customers[i].cart[j].price
                }
                expenses.push({
                    id: this.customers[i].id,
                    expense: total
                })
            }
            return expenses
        }
    },
    watch: {
        customerId(id) {
            const customer = this.findExpense(id)
            if (customer) {
                this.customerTotal = customer.expense
            } else {
                this.customerTotal = 'not found...'
            }
        },
        tab(at) {
            if (at === 3) {
                const customer = this.findExpense(this.customerId)
                if (customer) {
                    this.customerTotal = customer.expense
                } else {
                    this.customerTotal = 'not found...'
                }
            }
        }
    },
    methods: {
        to(page) {
            this.tab = page
        },
        find(id) {
            for(let i = 0; i < this.customers.length; i++) {
                const customer = this.customers[i]
                if (customer.id === id) {
                    return customer
                }
            }
            return null
        },
        findExpense(id) {
            for(let i = 0; i < this.customerExpenses.length; i++) {
                const customer = this.customerExpenses[i]
                if (customer.id === id) {
                    return customer
                }
            }
            return null
        },
        submit() {
            this.customers.push({
                id: this.customer.id,
                name: this.customer.name,
                cart: []
            })

            this.customer = {
                id: '',
                name: ''
            }
        },
        addToCart(food) {
            const customer = this.find(this.customerId)
            if (!customer) {
                alert('customer not found in the system')
            } else {
                customer.cart.push(food)
            }
        }
    }
}
</script>

<style>
img {
    height: 100px;
}
.activeMenu {
    background-color: crimson;
    color: white;
}
.defaultMenu {
    background-color: #EDEDED;
    border: none;
}
</style>