<template>
  <div>
      <label for="studentId">รหัสนักเรียน</label>
      <input id="studentId" type="text" v-model="searchId">
      {{ averageScore }}
  </div>
</template>

<script>
export default {
    data: function() {
        return {
            searchId: null,
            averageScore: null,
            students: [
                {
                    id: '111',
                    name: 'มานะ',
                    scores: [96, 91, 25, 72, 64, 56, 11, 50, 68, 92]
                },
                {
                    id: '222',
                    name: 'มานี',
                    scores: [81, 15, 49, 16, 13, 97, 26, 47, 78, 45]
                },
                {
                    id: '333',
                    name: 'ปิติ',
                    scores: [97, 15, 53, 47, 88, 69, 79, 12, 46, 18]
                },
                {
                    id: '444',
                    name: 'ชูใจ',
                    scores: [59, 24, 62, 85, 95, 45, 69, 55, 57, 8]
                }
            ]
        }
    },
    computed: {
        averageScores: function() {
            console.log('enter')
            const averageScores = []
            for(let i = 0; i < this.students.length; i++) {
                const student = this.students[i]
                let average = 0
                for(let j = 0; j < student.scores.length; j++) {
                    average += student.scores[j]
                }
                averageScores.push({
                    id: student.id,
                    name: student.name,
                    averageScore: average / student.scores.length
                })
            }
            return averageScores
        }
    },
    watch: {
        searchId: function(id) {
            const find = this.find(id)
            if (find) {
                this.averageScore = find
            } else {
                this.averageScore = 'not found...'
            }
        }
    },
    methods: {
        find: function(id) {
            for(let i = 0; i < this.averageScores.length; i++) {
                const averageScore = this.averageScores[i]
                if (averageScore.id === id) {
                    return averageScore.averageScore
                }
            }
            return null
        }
    }
}
</script>

<style>

</style>