<template>
  <div>
    <button @click="close">ปิดบัตร</button>
    <button @click="flip">พลิกบัตร</button>
    <div v-if="page">
      <section v-show="page === 'front'">
        <p>FRONT</p>
      </section>
      <section v-show="page === 'back'">
        <p>{{idCard.uniqueNumber}}</p>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      page: '',
      idCard: {
        gender: 'male',
        firstName: {
          th: 'อรรณพ',
          en: 'Aunnop',
        },
        lastName: {
          th: 'ขัติยเนตร',
          en: 'Kattiyanet',
        },
        dateOfBirth: {
          th: '1 ม.ค. 2564',
          en: '1 Jan. 2021',
        },
        address: '111 หมู่ 11 ต.คำบล อ.อำเภอ จ.จังหวัด',
        issueDate: '1 พ.ย. 2563',
        expiryDate: '31 ธ.ค. 2572',
        uniqueNumber: ' ME0-1234567-89',
      }
    }
  },
  methods: {
    close: function() {
      this.page = ''
    },
    flip: function() {
      this.page = this.page === 'front' ? 'back' : 'front'
    }
  }
}
</script>
