<template>
  <div>
    <h1>ผลการเรียน</h1>
    <h2>วิชา {{subject}}</h2>
    <h3>{{name}}</h3>
    <p>คะแนน: {{score}}/100</p>
    <p v-if="score >= 80">เกรดที่ได้: A</p>
    <p v-else-if="score >= 70">เกรดที่ได้: B</p>
    <p v-else-if="score >= 60">เกรดที่ได้: C</p>
    <p v-else-if="score >= 50">เกรดที่ได้: D</p>
    <p v-else>เกรดที่ได้: F</p>
    <div>
      <button v-if="score <= 99"  @click="add(1)">เพิ่มคะแนน +1</button>
      <button v-if="score <= 98" @click="add(2)">เพิ่มคะแนน +2</button>
      <button v-if="score <= 97" @click="add(3)">เพิ่มคะแนน +3</button>
      <button v-if="score <= 95" @click="add(5)">เพิ่มคะแนน +5</button>
    </div>
    <div>
      <button v-if="score >= 1" @click="subtract(1)">หักคะแนน -1</button>
      <button v-if="score >= 2" @click="subtract(2)">หักคะแนน -2</button>
      <button v-if="score >= 3" @click="subtract(3)">หักคะแนน -3</button>
      <button v-if="score >= 5" @click="subtract(5)">หักคะแนน -5</button>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      name: 'Aunnop Kattiyanet',
      subject: 'PROG101',
      score: 0
    }
  },
  methods: {
    add(score) {
      this.score += score
    },
    subtract(score) {
      this.score -= score
    },
  }
}
</script>
