<template>
  <main>
    <div>
      <button @click="to(1)">รายการอาหาร</button>
      <button @click="to(2)">ลงชื่อเข้าใช้</button>
      <button @click="to(3)">ตะกร้า</button>
    </div>
    <div v-if="tab === 1">
      <section>
        <div>
          <h2>ขนมจีนน้ำเงี้ยว</h2>
          <img height="150" src="./assets/ngeaw.jpg" alt="ขนมจีนน้ำเงี้ยว">
          <p>ขนมจีนน้ำเงี้ยวสูตรเชียงราย</p>
          <h3>29 บาท</h3>
          <button type="button">ใส่ตะกร้า</button>
        </div>
        <div>
          <h2>ตับกระเทียม</h2>
          <img height="150" src="./assets/liver-garlic.jpg" alt="ตับกระเทียม">
          <p>ตับหมูทอดกระเทียม</p>
          <h3>25 บาท</h3>
          <button type="button">ใส่ตะกร้า</button>
        </div>
        <div>
          <h2>แกงเขียวหวาน</h2>
          <img height="150" src="./assets/green-curry.jpg" alt="แกงเขียวหวาน">
          <p>แกงเขียวหวานไก่</p>
          <h3>30 บาท</h3>
          <button type="button">ใส่ตะกร้า</button>
        </div>
      </section>
    </div>
    <div v-if="tab === 2">
      <h1>ลงชื่อเข้าใช้</h1>
      <section>
        <div>
          <label for="username">ชื่อผู้ใช้งาน</label>
          <input id="username" type="text">
        </div>
        <div>
          <label for="password">รหัสผ่าน</label>
          <input id="password" type="text">
        </div>
      </section>
    </div>
    <div v-if="tab === 3">
      <h1>ตะกร้า</h1>
      <section>
        <div>
          <h2>มาม่า</h2>
          <p>มาม่า รสหมูสับต้มยำ อร่อย ต้องลอง</p>
          <h3>6 บาท</h3>
        </div>
      </section>
      <section>
        <h2>รวม 6 บาท</h2>
      </section>
    </div>
  </main>
</template>

<script>
export default {
  data: function() {
    return {
      tab: 1
    }
  },
  methods: {
    to(tab) {
      this.tab = this.tab === tab ? 0 : tab
    }
  }
}
</script>
