<template>
  <div>
    <h1>POP {{name}}</h1>
    <h2>{{pop}}</h2>
    <div>
      <button @mousedown="popMe" @mouseup="release">POP IT</button>
    </div>
    <img v-if="!isTriggered()" :src="require(`@/${normalImage}`)" alt="normal">
    <img v-if="isTriggered()" :src="require(`@/${triggeredImage}`)" alt="triggered">
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      normalImage: 'assets/normal.png',
      triggeredImage: 'assets/triggered.png',
      name: 'cat',
      pop: 0,
    }
  },
  methods: {
    popMe: function() {
      this.pop++
      this.normalImage = 'assets/normal-pop.png'
      this.triggeredImage = 'assets/triggered-pop.png'
    },
    release: function() {
      this.normalImage = 'assets/normal.png'
      this.triggeredImage = 'assets/triggered.png'
    },
    isTriggered: function() {
      return this.pop % 50 >= 20
    }
  }
}
</script>

<style>
img {
  height: 200px
}
</style>
