<template>
    <div>
        <form @submit.prevent="submitTodo">
            <h1>Todo</h1>
            <div>
                <label for="task">สิ่งที่ต้องทำ</label>
                <input id="task" type="text" v-model="todo" required>
            </div>
            <div>
                <label for="isDone">เสร็จ</label>
                <input id="isDone" type="checkbox" v-model="isDone">
            </div>
            <button type="submit">Submit</button>
        </form>
        <div>
            <h1>Todos</h1>
            <div>
                <button @click="toTab(1)">ทั้งหมด</button>
                <button @click="toTab(2)">เสร็จแล้ว</button>
                <button @click="toTab(3)">ยังไม่เสร็จ</button>
            </div>
            <div>
                <section v-if="tab === 1">{{ allTasks() }}</section>
                <section v-if="tab === 2">{{ finishedTasks() }}</section>
                <section v-if="tab === 3">{{ unfinishedTasks() }}</section>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            todo: '',
            isDone: false,
            todos: [],
            tab: 1,
        }
    },
    methods: {
        submitTodo() {
            this.todos.push({
                todo: this.todo,
                isDone: this.isDone,
            })

            // clear value
            this.todo = null
            this.isDone = false
        },
        toTab(to) {
            this.tab = to
        },
        allTasks() {
            console.log('all')
            let i = 0
            let tasks = ''
            while(i < this.todos.length) {
                tasks += `${this.todos[i].todo}\n`
                i++
            }
            return tasks
        },
        finishedTasks() {
            console.log('finished')
            let i = 0
            // const finished = []
            let finished = ''
            while(i < this.todos.length) {
                if (this.todos[i].isDone) {
                    // finished.push(this.todos[i])
                    finished += `${this.todos[i].todo}\n`
                }
                i++
            }
            return finished
        },
        unfinishedTasks() {
            console.log('unfinished')
            let i = 0
            // const unfinished = []
            let unfinished = ''
            while(i < this.todos.length) {
                if (!this.todos[i].isDone) {
                    // unfinished.push(this.todos[i])
                    unfinished += `${this.todos[i].todo}\n`
                }
                i++
            }
            return unfinished
        }
    }
}
</script>

<style>

</style>