<template>
  <div>
      <form @submit.prevent="start">
          <label for="divider">ตัวหาร</label>
          <input id="divider" type="number" v-model.number="divider" required>
          <label for="until">นับจนถึง</label>
          <input id="until" type="number" v-model.number="until" required>
          <button type="submit">เริ่มได้</button>
      </form>
      <div v-show="result">
          <div>
              เลขที่หารด้วย {{ divider }} ลงตัว {{ result }}
          </div>
          <div>
              มีจำนวนทั้งหมด {{ count }} ตัว
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data: function() {
        return {
            until: null,
            divider: null,
            result: '',
            count: 0,
        }
    },
    methods: {
        start: function() {
            if (this.until <= 0 || this.divider <= 0) {
                alert('ตัวเลขต้องมากกว่า 0')
            }
            let i = 1
            let result = ''
            while(i <= this.until) {
                if (i % this.divider === 0) {
                    result += `${i}, `
                    this.count++
                }
                i++
            }
            this.result = result
        }
    }
}
</script>

<style>

</style>