<template>
  <div>
      {{ odds() }}
  </div>
</template>

<script>
export default {
    methods: {
        odds: function() {
            let count = 0
            let i = 1
            while(i <= 100) {
                if (i % 2 === 1) {
                    count++
                }
                i++
            }
            return count
        }
    }
}
</script>

<style>

</style>