// buy 5 and total more than 50 and total from 100 sale 5
// buy 15 and total more than 250 and total from 500 sale 20
// buy 25 and total more than 750 and total from 1000 sale 100

<template>
  <div>
    <button @click="addToCart(5)">ขนมอบกรอบ (5 บาท)</button>
    <button @click="addToCart(20)">สมุด (20 บาท)</button>
    <button @click="addToCart(120)">สีไม้ 36 สี (120 บาท)</button>
    <p>ซื้อของไปแล้ว {{count}} ชิ้น</p>
    <p>ของในตะกร้ามูลค่ารวม {{total}} บาท</p>
    <section v-show="(count === 5 && total > 50) || (total >= 100)">
      คุณได้รับคูปองส่วนลด 5 บาท
    </section>
    <section v-show="(count === 15 && total > 250) || (total >= 500)">
      คุณได้รับคูปองส่วนลด 20 บาท
    </section>
    <section v-show="(count === 25 && total > 750) || (total >= 1500)">
      คุณได้รับคูปองส่วนลด 100 บาท
    </section>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      count: 0,
      total: 0,
    }
  },
  methods: {
    addToCart: function(price) {
      this.count++
      this.total += price
    }
  }
}
</script>
